#categories-posts {
  margin-bottom: 100px;
  margin-top: 50px;
  margin-right: 24px;
}

#categories-buttons {
  justify-content: center;
  text-transform: none;
  margin-top: 35px;
  margin-left: 9px;
  margin-right: 9px;
}

#categories-grid {
  max-width: 2080px;
  justify-content: center;
  margin: 0 auto;
}
